* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100hv;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
}
